.modal-img {
  height: 400px;
  width: 50%;
}

.flex-container {
  width: 100%;
  min-height: 400px;
  margin: 0 auto;
  display: -webkit-flex; /* Safari */
  display: flex; /* Standard syntax */
}
.flex-container .column {
  padding: 5px;
  -webkit-flex: 1; /* Safari */
  -ms-flex: 1; /* IE 10 */
  flex: 1; /* Standard syntax */
}

strong {
  color: #007bff;
}

.custom-select {
  border-radius: 10px 1px 1px 10px !important;
}

.input-group-append {
  margin-left: 5px !important;
}

.nav-link {
  font-size: 16px;
}

.header {
  margin-top: 30px;
}

